In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
from datetime import datetime

Population data : https://www.ers.usda.gov/data-products/county-level-data-sets/

## 1. Data Loading and Cleaning

### 1F. Population file merge

In [2]:
us_population = pd.read_csv("C:/Users/ysman/Documents/springboard/1 Google Mobility and Covid/pop files/US_Population.csv",sep=',')

In [3]:
us_population

,State,County,AGEGRP,Total Population,Male Pop,Female Pop,White -R,Black - R,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Hispanic
0,Alabama,Autauga,Total,55869,27092,28777,42607,11237,266,656,58,1671
1,Alabama,Autauga,00-04,3277,1713,1564,2366,683,10,44,6,146
2,Alabama,Autauga,05-09,3465,1787,1678,2478,756,19,42,2,158
3,Alabama,Autauga,10-14,3851,1977,1874,2791,860,12,43,6,173
4,Alabama,Autauga,15-19,3659,1854,1805,2675,834,5,34,8,137
...,...,...,...,...,...,...,...,...,...,...,...,...
59693,Wyoming,Weston,65-69,499,280,219,459,1,2,31,0,9
59694,Wyoming,Weston,70-74,352,180,172,342,0,2,4,0,6
59695,Wyoming,Weston,75-79,229,107,122,225,0,2,0,0,2
59696,Wyoming,Weston,80-84,198,82,116,195,0,2,0,0,3
59697,Wyoming,Weston,85+,200,72,128,195,0,2,1,0,3

In [14]:
us_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59698 entries, 0 to 59697
Data columns (total 12 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   State                                       59698 non-null  object
 1   County                                      59698 non-null  object
 2   AGEGRP                                      59698 non-null  object
 3   Total Population                            59698 non-null  int64
 4   Male Pop                                    59698 non-null  int64
 5   Female Pop                                  59698 non-null  int64
 6   White -R                                    59698 non-null  int64
 7   Black - R                                   59698 non-null  int64
 8   American Indian and Alaska Native           59698 non-null  int64
 9   Asian                                       59698 non-null  int64
 10  Native Hawaiian and Other Pacific Islander  59698 non-null  int64
 11  Hispanic                                    59698 non-null  int64
dtypes: int64(9), object(3)
memory usage: 5.5+ MB

In [4]:
us_population_statelevel = us_population.drop('County', axis =1)

In [5]:
us_population_statelevel = pd.DataFrame(us_population.groupby(['State','AGEGRP']).agg({'Total Population':'sum', 'Male Pop':'sum','Female Pop':'sum','White -R':'sum','Black - R':'sum','American Indian and Alaska Native':'sum','Asian':'sum','Native Hawaiian and Other Pacific Islander':'sum','Hispanic':'sum'})).reset_index()
us_population_statelevel

,State,AGEGRP,Total Population,Male Pop,Female Pop,White -R,Black - R,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Hispanic
0,Alabama,00-04,294357,149715,144642,187163,87499,1965,4440,317,26453
1,Alabama,05-09,297968,152011,145957,192683,86597,1770,4342,258,25594
2,Alabama,10-14,310498,158134,152364,201119,91481,2296,4660,540,24976
3,Alabama,15-19,313615,159086,154529,202598,94989,2370,4901,482,19918
4,Alabama,20-24,322092,161393,160699,206276,100277,2327,5662,410,15848
...,...,...,...,...,...,...,...,...,...,...,...
964,Wyoming,70-74,25788,13003,12785,24842,213,370,144,12,1236
965,Wyoming,75-79,16949,8135,8814,16431,64,197,84,11,740
966,Wyoming,80-84,10649,4878,5771,10308,52,125,55,9,491
967,Wyoming,85+,10991,4128,6863,10644,58,113,72,6,460
968,Wyoming,Total,578759,294730,284029,535371,7467,15778,6571,596,58609

### 1G. Web scraping Hospital bed table using beautiful soup

In [6]:
import requests
from bs4 import BeautifulSoup

In [7]:
page = requests.get("https://www.aha.org/statistics/fast-facts-us-hospitals")
soup = BeautifulSoup(page.content, 'html.parser')
soup.get_text
html_table=soup.find('tbody')
all_rows = html_table.find_all('tr')

In [8]:
for pos,rows in enumerate(all_rows):
    print(pos)
    print(rows)

0
<tr><td width="80%">
<p style="margin: 10px 0px 10px 5px;"><strong style="font-weight: bold;">Total Number of All U.S. </strong><strong style="font-weight: bold;">Hospitals</strong></p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">6,146</p>
</td>
</tr>
1
<tr><td>
<p style="margin: 10px 0px 10px 25px;">Number of U.S. <a href="#footnote1" style="text-decoration: none; outline: none; color: rgb(18, 145, 224);"><strong style="font-weight: bold;">Community</strong><sup class="text-muted"> 1</sup></a> Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">5,198</p>
</td>
</tr>
2
<tr><td>
<p style="margin: 10px 0px 10px 45px;">Number of Nongovernment Not-for-Profit Community Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">2,937</p>
</td>
</tr>
3
<tr><td>
<p style="margin: 10px 0px 10px 45px;">Number of Investor-Owned (For-Profit) Community Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">1,296</p>
</td>
</tr>
4
<tr><td>
<p style="margin: 10px 0px 10px 45px;">Number of State and Local Government Community Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">965</p>
</td>
</tr>
5
<tr><td>
<p style="margin: 10px 0px 10px 25px;">Number of Federal Government Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">209</p>
</td>
</tr>
6
<tr><td>
<p style="margin: 10px 0px 10px 25px;">Number of Nonfederal Psychiatric Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">616</p>
</td>
</tr>
7
<tr><td>
<p style="margin: 10px 0px 10px 25px;"><a href="#footnote2" style="text-decoration: none; outline: none; color: rgb(18, 145, 224);"><strong>Other</strong><sup class="text-muted"> 2</sup></a> Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">123</p>
</td>
</tr>
8
<tr><td>
<p style="margin: 0px;">Â </p>
</td>
<td>
<p style="margin: 0px;">Â </p>
</td>
</tr>
9
<tr><td>
<p style="margin: 10px 0px 10px 5px;"><strong style="font-weight: bold;">Total Staffed Beds in All U.S. </strong><strong style="font-weight: bold;">Hospitals</strong></p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">924,107</p>
</td>
</tr>
10
<tr><td>
<p style="margin: 10px 0px 10px 25px;">Staffed Beds in Community<sup class="text-muted"> 1</sup> Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">792,417</p>
</td>
</tr>
11
<tr><td>
<p style="margin: 10px 0px 10px 25px;"><a href="#footnote3" style="text-decoration: none; outline: none; color: rgb(18, 145, 224);"><strong>Intensive Care Beds</strong><sup class="text-muted"> 3</sup></a> in Community Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">Â </p>
</td>
</tr>
12
<tr><td>
<p style="margin: 10px 0px 10px 45px;"><a href="#footnote4" style="text-decoration: none; outline: none; color: rgb(18, 145, 224);"><strong>Medical-Surgical Intensive Care</strong><sup class="text-muted"> 4</sup></a> Beds in Community Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">55,663</p>
</td>
</tr>
13
<tr><td>
<p style="margin: 10px 0px 10px 45px;"><a href="#footnote5" style="text-decoration: none; outline: none; color: rgb(18, 145, 224);"><strong>Cardiac Intensive Care</strong><sup class="text-muted"> 5</sup></a> Beds in Community Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">15,160</p>
</td>
</tr>
14
<tr><td>
<p style="margin: 10px 0px 10px 45px;"><a href="#footnote6" style="text-decoration: none; outline: none; color: rgb(18, 145, 224);"><strong>Neonatal Intensive Care</strong><sup class="text-muted"> 6</sup></a> Beds in Community Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">22,721</p>
</td>
</tr>
15
<tr><td>
<p style="margin: 10px 0px 10px 45px;"><a href="#footnote7" style="text-decoration: none; outline: none; color: rgb(18, 145, 224);"><strong>Pediatric Intensive Care</strong><sup class="text-muted"> 7</sup></a> Beds in Community Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">5,115</p>
</td>
</tr>
16
<tr><td>
<p style="margin: 10px 0px 10px 45px;"><a href="#footnote8" style="text-decoration: none; outline: none; color: rgb(18, 145, 224);"><strong>Burn Care</strong><sup class="text-muted"> 8</sup></a> Beds in Community Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">1,198</p>
</td>
</tr>
17
<tr><td>
<p style="margin: 10px 0px 10px 45px;"><a href="#footnote9" style="text-decoration: none; outline: none; color: rgb(18, 145, 224);"><strong>Other Intensive Care</strong><sup class="text-muted"> 9</sup></a> Beds in Community Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">7,419</p>
</td>
</tr>
18
<tr><td>
<p style="margin: 10px 0px 10px 5px;"><strong style="font-weight: bold;">Total Admissions in All U.S. </strong><strong style="font-weight: bold;">Hospitals</strong></p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">36,353,946</p>
</td>
</tr>
19
<tr><td>
<p style="margin: 10px 0px 10px 25px;">Admissions in Community<sup class="text-muted"> 1</sup> Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">34,251,159</p>
</td>
</tr>
20
<tr><td>
<p style="margin: 10px 0px 10px 5px;"><strong style="font-weight: bold;">Total Expenses for All U.S. </strong><strong style="font-weight: bold;">Hospitals</strong></p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">$1,112,207,387,000</p>
</td>
</tr>
21
<tr><td>
<p style="margin: 10px 0px 10px 25px;">Expenses for Community<sup class="text-muted"> 1</sup> Hospitals</p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">$1,010,271,112,000</p>
</td>
</tr>
22
<tr><td>
<p style="margin: 0px;">Â </p>
</td>
<td>
<p style="margin: 0px;">Â </p>
</td>
</tr>
23
<tr><td>
<p style="margin: 10px 0px 10px 5px;"><strong style="font-weight: bold;">Number of Rural Community</strong><sup class="text-muted">Â Â </sup><strong style="font-weight: bold;">Hospitals</strong></p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">1,821</p>
</td>
</tr>
24
<tr><td>
<p style="margin: 10px 0px 10px 5px;"><strong style="font-weight: bold;">Number of Urban Community</strong><sup class="text-muted">Â Â </sup><strong style="font-weight: bold;">Hospitals</strong></p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">3,377</p>
</td>
</tr>
25
<tr><td>
<p style="margin: 0px;">Â </p>
</td>
<td>
<p style="margin: 0px;">Â </p>
</td>
</tr>
26
<tr><td>
<p style="margin: 10px 0px 10px 5px;"><strong style="font-weight: bold;">Number of Community Hospitals in aÂ </strong><a href="#footnote10" style="text-decoration: none; outline: none; color: rgb(18, 145, 224);"><strong style="font-weight: bold;">System</strong><sup class="text-muted"> 10</sup></a></p>
</td>
<td>
<p align="right" style="margin: 10px 5px 10px 0px;">3,491</p>
</td>
</tr>

In [9]:
 final_data_list =[]

In [10]:
for pos,rows in enumerate(all_rows):
    
    col_list = [each_col.get_text(strip=True) for each_col in rows.find_all('td')]
    final_data_list.append(col_list)

In [11]:
print( final_data_list)

[['Total Number of All U.S.Hospitals', '6,146'], ['Number of U.S.Community1Hospitals', '5,198'], ['Number of Nongovernment Not-for-Profit Community Hospitals', '2,937'], ['Number of Investor-Owned (For-Profit) Community Hospitals', '1,296'], ['Number of State and Local Government Community Hospitals', '965'], ['Number of Federal Government Hospitals', '209'], ['Number of Nonfederal Psychiatric Hospitals', '616'], ['Other2Hospitals', '123'], ['', ''], ['Total Staffed Beds in All U.S.Hospitals', '924,107'], ['Staffed Beds in Community1Hospitals', '792,417'], ['Intensive Care Beds3in Community Hospitals', ''], ['Medical-Surgical Intensive Care4Beds in Community Hospitals', '55,663'], ['Cardiac Intensive Care5Beds in Community Hospitals', '15,160'], ['Neonatal Intensive Care6Beds in Community Hospitals', '22,721'], ['Pediatric Intensive Care7Beds in Community Hospitals', '5,115'], ['Burn Care8Beds in Community Hospitals', '1,198'], ['Other Intensive Care9Beds in Community Hospitals', '7,419'], ['Total Admissions in All U.S.Hospitals', '36,353,946'], ['Admissions in Community1Hospitals', '34,251,159'], ['Total Expenses for All U.S.Hospitals', '$1,112,207,387,000'], ['Expenses for Community1Hospitals', '$1,010,271,112,000'], ['', ''], ['Number of Rural CommunityHospitals', '1,821'], ['Number of Urban CommunityHospitals', '3,377'], ['', ''], ['Number of Community Hospitals in aSystem10', '3,491']]

In [12]:
hosp = pd.DataFrame( final_data_list).dropna().rename(columns={0:'Description', 1: 'Count'})
hosp.head()

                                         Description  Count
0                  Total Number of All U.S.Hospitals  6,146
1                  Number of U.S.Community1Hospitals  5,198
2  Number of Nongovernment Not-for-Profit Communi...  2,937
3  Number of Investor-Owned (For-Profit) Communit...  1,296
4  Number of State and Local Government Community...    965

### Export CSV

In [13]:
hosp.to_csv('C:/Users/ysman/Documents/springboard/1 Google Mobility and Covid/python df exports/us_hospitalbed_count.csv', sep=',',index=True)
us_population.to_csv('C:/Users/ysman/Documents/springboard/1 Google Mobility and Covid/python df exports/us_population_Countylevel.csv', sep=',',index=True)
us_population_statelevel.to_csv('C:/Users/ysman/Documents/springboard/1 Google Mobility and Covid/python df exports/us_population_Statelevel.csv', sep=',',index=True)